<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="hidden-md hidden-lg text-center">
        <div class="row">
          <div class="col-xs-12 col-md-6" id="storeFootContainer">
            <ul id="storeFoot" class="list-inline">
              <li>
                <a href="https://itunes.apple.com/app/maize-find-food-beyond-restaurants/id1107430839?mt=8" title="@Messages("section.main.downLoadmaize.linkIOS.title")" target="_blank">
                  <img src="@routes.Assets.versioned("images/Store_Apple.jpg")" alt="get the app on Appstore !" width="135px" height="40px" class="img-responsive" >
                </a>
              </li>
              <li>
                <a href="https://play.google.com/store/apps/details?id=com.maize.app" title="@Messages("section.main.downLoadmaize.linkGoogle.title")" target="_blank">
                  <img src="@routes.Assets.versioned("images/Store_Google.jpg")" alt="get the app on Google Play store !" width="135px" height="40px" class="img-responsive" >
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <br class="visible-xs" />
      <div class="col-xs-12 col-md-6 openSansLight" id="formContainer">
        <form action="http://maizeapp.us12.list-manage.com/subscribe/post?u=0ff0b47d0e0bd515fd0957734&amp;id=e8c4c702b1" method="post"
        id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" novalidate>
          <div class="input-group custom-search-form col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-lg-6 col-md-7 col-lg-offset-0 col-md-offset-0">
            <input type="email" class="form-control openSansReg" name="EMAIL" id="mce-EMAIL" value="@Messages("section.footer.form.news.placeholder")">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" id="btn-news">
                <i class="fa fa-chevron-right fa-lg"></i>
              </button>
            </span>
          </div>
          <div class="input-group custom-search-form col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-lg-6 col-md-7 col-lg-offset-0 col-md-offset-0" id="formInfo">
            <span>@Messages("section.footer.form.news.mail.expected")</span>
          </div>

          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_0ff0b47d0e0bd515fd0957734_e8c4c702b1" tabindex="-1" value="">
          </div>
        </form>
      </div>



      <div class="col-xs-12 col-md-6 text-center">
        <div>
          <ul id="social" class="list-inline">
            <li><div class="twitterContainer">
              <a href="https://twitter.com/maizeapp" title="Twitter MaizeApp">
                <img src="@routes.Assets.versioned("images/Social_Twitter.jpg")" alt="" width="45px" height="45px" class="img-responsive">
              </a>
            </div></li>
            <li><div class="facebookContainer">
              <a href="https://www.facebook.com/maizeapp" title="FaceBook MaizeApp">
                <img src="@routes.Assets.versioned("images/Social_Facebook.jpg")" alt="" width="45px" height="45px" class="img-responsive">
              </a>
            </div></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 openSansBold" id="copy">
        <span>&copy; @Messages("footer.copy")</span>
      </div>
    </div>
      <!-- /.row -->
  </div>
    <!-- /.container -->
</footer>
