<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="hidden-md hidden-lg text-center">
        <div class="row">
          <div class="col-xs-12 col-md-6" id="storeFootContainer">
            <ul id="storeFoot" class="list-inline">
              <li>
                <a href="http://wordpress.redirectingat.com/?id=725X1342&amp;site=maizeapp.wordpress.com&amp;xs=1&amp;isjs=1&amp;url=https%3A%2F%2Fitunes.apple.com%2Fus%2Fapp%2Fmaize-find-food-beyond-restaurants%2Fid1107430839%3Fls%3D1%26mt%3D8&amp;xguid=02ba261903e321d6c9ef919e19372120&amp;xuuid=e6ecf51884edfb0598746df01b2d2f4f&amp;xsessid=a89419951f3d82f51603607e4e643a6c&amp;xcreo=0&amp;xed=0&amp;sref=https%3A%2F%2Fmaizeapp.wordpress.com%2F&amp;xtz=-120" title="@Messages("section.main.downLoadmaize.linkIOS.title")" >
                  <img src="@routes.Assets.versioned("images/Store_Apple.jpg")" alt="" width="135px" height="40px" class="img-responsive">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <p class="openSansSemiBold">@Messages("section.main.downLoadmaize.android")</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <br class="visible-xs" />
      <div class="col-xs-12 col-md-6 openSansLight" id="formContainer">
        <form action="http://maizeapp.us12.list-manage.com/subscribe/post?u=0ff0b47d0e0bd515fd0957734&amp;id=e8c4c702b1" method="post"
        id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" novalidate>
          <div class="input-group custom-search-form col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-lg-6 col-md-7 col-lg-offset-0 col-md-offset-0">
            <input type="email" class="form-control openSansReg" name="EMAIL" id="mce-EMAIL" value="@Messages("section.footer.form.news.placeholder")">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" id="btn-news">
                <i class="fa fa-chevron-right fa-lg"></i>
              </button>
            </span>
          </div>
          <div class="input-group custom-search-form col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-lg-6 col-md-7 col-lg-offset-0 col-md-offset-0" id="formInfo">
            <span>@Messages("section.footer.form.news.mail.expected")</span>
          </div>

          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_0ff0b47d0e0bd515fd0957734_e8c4c702b1" tabindex="-1" value="">
          </div>
        </form>
      </div>



      <div class="col-xs-12 col-md-6 text-center">
        <div>
          <ul id="social" class="list-inline">
            <li><div class="twitterContainer">
              <a href="https://twitter.com/maizeapp" title="Twitter MaizeApp">
                <img src="@routes.Assets.versioned("images/Social_Twitter.jpg")" alt="" width="45px" height="45px" class="img-responsive">
              </a>
            </div></li>
            <li><div class="facebookContainer">
              <a href="https://www.facebook.com/maizeapp" title="FaceBook MaizeApp">
                <img src="@routes.Assets.versioned("images/Social_Facebook.jpg")" alt="" width="45px" height="45px" class="img-responsive">
              </a>
            </div></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 openSansBold" id="copy">
        <span>&copy; @Messages("footer.copy")</span>
      </div>
    </div>
      <!-- /.row -->
  </div>
    <!-- /.container -->
</footer>