@import play.data.Form
@import models.FoodTrucker
@(message: String, foodTruckerForm: Form[FoodTrucker])(webJarAssets: WebJarAssets)

@main(Messages("index.title"), scripts, webJarAssets) {
    @navBar()

    @mainSection()

    @systemSection()

    @partnersSection()

    @foodTruckerFormSection(foodTruckerForm)

    @teamSection()

    @footer()
}

@scripts = {
    <script type="application/javascript">
            var newsPlaceHolder = "@Messages("section.footer.form.news.placeholder")";
            var newsSuccess = "@Messages("section.footer.form.news.success")";
            $(function(){
                if($("div.has-error").length > 0){
                    $("div.has-error input").eq(0).focus();
                }

                function validateEmail(email) {
                    var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return re.test(email);
                }

                if(res.dppx()>1){
                    $("img").each(function(){
                        var img = $(this);
                        img.attr('src', img.attr('src').replace('.jpg','_2X.jpg'));
                    });
                }

                $("#formContainer").on('submit', '#mc-embedded-subscribe-form', function(e){
                    e.preventDefault();
                    if(!validateEmail($("#mce-EMAIL").val())){
                        $("#formInfo span").text('Enter a valid email address');
                        $("#formInfo").show("fast", function() {
                            setTimeout(function(){ $("#formInfo").hide("fast"); }, 3000);
                        });
                        $("#mce-EMAIL").select();
                    }else{
                        $.post( $(this).attr('action'), $(this).serialize() );
                        $("#formInfo span").text(newsSuccess);
                        $("#formInfo").show("fast", function() {
                            setTimeout(function(){ $("#formInfo").hide("fast"); }, 3000);
                        });
                    }
                });

                $("#formContainer").on('focus', '#mce-EMAIL', function(e){
                    if($("#mce-EMAIL").val()=== newsPlaceHolder)$("#mce-EMAIL").val('');
                });
                $("#formContainer").on('blur', '#mce-EMAIL', function(e){
                    if($("#mce-EMAIL").val()=== '')$("#mce-EMAIL").val(newsPlaceHolder);
                });
            });
    </script>
}