@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Maize - Find Food Beyond Restaurants", scripts) {
    @navBar()

    @mainSection()

    @systemSection()

    @partnersSection()

    @footer()

}

@scripts = {
    <script type="application/javascript">
            $(function(){
                function validateEmail(email) {
                    var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return re.test(email);
                }

                if(res.dppx()>1){
                    console.log('retina');
                    $("img").each(function(){
                        var img = $(this);
                        img.attr('src', img.attr('src').replace('.','_2X.'));
                    });
                }

                $("#formContainer").on('submit', '#mc-embedded-subscribe-form', function(e){
                    e.preventDefault();
                    if(!validateEmail($("#mce-EMAIL").val())){
                        $("#formInfo span").text('Enter a valid email address');
                        $("#formInfo").show("fast", function() {
                            setTimeout(function(){ $("#formInfo").hide("fast"); }, 3000);
                        });
                        $("#mce-EMAIL").select();
                    }else{
                        $.post( $(this).attr('action'), $(this).serialize() );
                        $("#formInfo span").text('Success! maize will keep you updated.')
                        $("#formInfo").show("fast", function() {
                            setTimeout(function(){ $("#formInfo").hide("fast"); }, 3000);
                        });
                    }
                });

                $("#formContainer").on('focus', '#mce-EMAIL', function(e){
                    if($("#mce-EMAIL").val()=== 'Enter email for Maize news')$("#mce-EMAIL").val('');
                });
                $("#formContainer").on('blur', '#mce-EMAIL', function(e){
                    if($("#mce-EMAIL").val()=== '')$("#mce-EMAIL").val('Enter email for Maize news');
                });
            });;
    </script>
}