<section class="image-bg-fixed-height">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-md-6 col-md-offset-0">
        <img src="@routes.Assets.versioned("images/Logo_Icon.jpg")" alt="" id="logo" class="img-responsive" width="77px" height="93px">
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12  col-xs-offset-0 col-md-6 col-md-offset-0">
        <h3 class="openSansBold" id="findFood">@Messages("section.main.findFood")</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 col-lg-4 col-lg-offset-0 slogan">
        <p class="openSansLight" id="downLoadmaize">@Messages("section.main.downLoadmaize.1")<br class="hideOnSmall">@Messages("section.main.downLoadmaize.2")<br class="hideOnSmall">@Messages("section.main.downLoadmaize.3")</p>
      </div>
    </div>
    <div class="hidden-xs hidden-sm">
      <div class="row">
        <div class="col-xs-12 col-md-6 ">
          <ul id="store" class="list-inline">
            <li>
              <a href="http://wordpress.redirectingat.com/?id=725X1342&amp;site=maizeapp.wordpress.com&amp;xs=1&amp;isjs=1&amp;url=https%3A%2F%2Fitunes.apple.com%2Fus%2Fapp%2Fmaize-find-food-beyond-restaurants%2Fid1107430839%3Fls%3D1%26mt%3D8&amp;xguid=02ba261903e321d6c9ef919e19372120&amp;xuuid=e6ecf51884edfb0598746df01b2d2f4f&amp;xsessid=a89419951f3d82f51603607e4e643a6c&amp;xcreo=0&amp;xed=0&amp;sref=https%3A%2F%2Fmaizeapp.wordpress.com%2F&amp;xtz=-120" title="@Messages("section.main.downLoadmaize.linkIOS.title")" >
                <img src="@routes.Assets.versioned("images/Store_Apple.jpg")" alt="get the app on Appstore !" width="135px" height="40px" class="img-responsive" >
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <p class="openSansSemiBold">@Messages("section.main.downLoadmaize.android")</p>
        </div>
      </div>
    </div>
  </div>
</section>