@*
    * This template is called from the `index` template. This template
    * handles the rendering of the page header and body tags. It takes
    * two arguments, a `String` for the title of the page and an `Html`
    * object to insert into the body of the page.
    *@
    @(title: String, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Find food beyond restaurants, find the best food trucks, farmer’s markets, and pop-up chefs everywhere you go.">
        <meta name="keywords" content="maze, amaze, local, finder, market, truck, bread, grub, drink, eat, home, chef, hipster, oakland, real, cottage, spot, craft">
        @* Here's where we render the page title `String`. *@
        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <!-- Custom CSS -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/full-width-pics.min.css")">
        <!-- Bootstrap -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            //ga('create', 'UA-74048637-1', 'auto');
            //ga('send', 'pageview');
        </script>
        <script type="application/javascript" src="@routes.Assets.versioned("javascripts/res.min.js")"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        @* And here's where we render the `Html` object containing
        * the page content. *@
        @content

        <!-- jQuery -->
        <script type="application/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.12.0.min.js")"></script>

        <!-- Bootstrap Core JavaScript -->
        <script type="application/javascript" src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>

        @scripts
    </body>
</html>
