<nav class="navbar navbar-static-top nav">
  <div class="container">
    <div class="navbar-header">
      <a id="navbar-brand" class="navbar-brand" href="."><img id="headLogo" class="img-responsive" src="@routes.Assets.versioned("images/Logo.jpg")" alt="Maize" title="MaizeApp" width="94px" height="27px"></a>
    </div>
    <div class="text-right blogContainer openSansSemiBold">
      <a id="blog" class="blog openSansSemiBold hidden-xs hidden-sm" href="https://maizeapp.wordpress.com/">
                    Visit our blog <i class="fa fa-chevron-right"></i>
                </a>
      <a id="blogPhone" class="blog openSansSemiBold hidden-lg hidden-md" href="https://maizeapp.wordpress.com/">
                    Blog <i class="fa fa-chevron-right"></i>
                </a>
    </div>
  </div>
</nav>