<section id="partnersSection" class="partnersSection">
    <div class="container">
        <div class="row">
            <h2 id="sloganPartners" class="sloganPartners text-center openSansReg">Our partners</h2>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <a href="http://www.reemscalifornia.com" target="_blank">
                        <img width="221px" height="143px" src="@routes.Assets.versioned("images/Partner_Logo_Reems.jpg")">
                        <div class="caption text-center">
                            <p class="openSansSemiBold">Traditional Arab street food made with California love.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <a href="http://www.cfoaa.org" target="_blank">
                        <img width="221px" height="143px" src="@routes.Assets.versioned("images/Partner_Logo_CFOAA.jpg")">
                        <div class="caption text-center">
                            <p class="openSansSemiBold">National association for the cottage food industry.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <a href="http://www.philzcoffee.com/" target="_blank">
                        <img width="221px" height="143px" src="@routes.Assets.versioned("images/Partner_Logo_PhilzCoffee.jpg")">
                        <div class="caption text-center">
                            <p class="openSansSemiBold">Philz Coffee served from a truck.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <a href="http://www.vicechocolates.com" target="_blank">
                        <img width="221px" height="143px" src="@routes.Assets.versioned("images/Partner_Logo_ViceChocolates.jpg")">
                        <div class="caption text-center">
                            <p class="openSansSemiBold">Bay Area chocolatier.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <a href="http://www.boffocart.com/" target="_blank">
                        <img width="221px" height="143px" src="@routes.Assets.versioned("images/Partner_Logo_Buffocart.jpg")">
                        <div class="caption text-center">
                            <p class="openSansSemiBold">Mobile grill offering organic meals at farmers markets.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <a href="https://www.facebook.com/PrinceOfVeniceFoodTruck/" target="_blank">
                        <img width="221px" height="143px" src="@routes.Assets.versioned("images/Partner_Logo_PrinceVenice.jpg")">
                        <div class="caption text-center">
                            <p class="openSansSemiBold">The first artisanal handmade pasta food truck.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <a href="http://www.roliroti.com/" target="_blank">
                        <img width="221px" height="143px" src="@routes.Assets.versioned("images/Partner_Logos_RoliRoti.jpg")">
                        <div class="caption text-center">
                            <p class="openSansSemiBold">Gourmet Rotisserie.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <a href="https://www.cookunity.us/welcome/" target="_blank">
                        <img width="221px" height="143px" src="@routes.Assets.versioned("images/Partner_Logo_Cookunity.jpg")">
                        <div class="caption text-center">
                            <p class="openSansSemiBold">Gourmet meals delivery service in Manhattan.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>