<section class="partnersSection">
    <div class="container">
        <div class="row">
            <h2 id="sloganPartners" class="sloganPartners text-center openSansReg">Our partners</h2>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <img src="@routes.Assets.versioned("images/Partner_Logo_Reems.jpg")">
                    <div class="caption text-center">
                        <p class="openSansSemiBold">Traditional Arab street food made with California love.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <img src="@routes.Assets.versioned("images/Partner_Logo_Buffocart.jpg")">
                    <div class="caption text-center">
                        <p class="openSansSemiBold">Traditional Arab street food made with California love.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <img src="@routes.Assets.versioned("images/Partner_Logo_Cookunity.jpg")">
                    <div class="caption text-center">
                        <p class="openSansSemiBold">Traditional Arab street food made with California love.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <img src="@routes.Assets.versioned("images/Partner_Logo_CFOAA.jpg")">
                    <div class="caption text-center">
                        <p class="openSansSemiBold">Traditional Arab street food made with California love.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <img src="@routes.Assets.versioned("images/Partner_Logo_ViceChocolates.jpg")">
                    <div class="caption text-center">
                        <p class="openSansSemiBold">Traditional Arab street food made with California love.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <img src="@routes.Assets.versioned("images/Partner_Logo_PhilzCoffee.jpg")">
                    <div class="caption text-center">
                        <p class="openSansSemiBold">Traditional Arab street food made with California love.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>