<section class="systemSection">
    <div class="container">
        <div class="row">
            <h2 id="sloganSystem" class="sloganSystem text-center openSansReg">Food outside the restaurant system</h2>
            <div class="col-lg-3">
                <div class="thumbnail">
                    <img width="63px" height="63px" src="@routes.Assets.versioned("images/Vendor_Icon_HomeChef.jpg")">
                    <div class="caption text-center">
                        <h3 class="captionSystem openSansBold">Home chefs</h3>
                        <p class="openSansSemiBold">Buy home cooked meals<br/>directly from home chefs.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="thumbnail">
                    <img width="63px" height="63px" src="@routes.Assets.versioned("images/Vendor_Icon_FarmersMarket.jpg")">
                    <div class="caption text-center">
                        <h3 class="captionSystem openSansBold">Farmers markets</h3>
                        <p class="openSansSemiBold">Buy freshly made meals<br/>directly from producers.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="thumbnail">
                    <img width="63px" height="63px" src="@routes.Assets.versioned("images/Vendor_Icon_Truck.jpg")">
                    <div class="caption text-center">
                        <h3 class="captionSystem openSansBold">Food trucks</h3>
                        <p class="openSansSemiBold">Buy unique meals<br/>from mobile vendors.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="thumbnail">
                    <img width="63px" height="63px" src="@routes.Assets.versioned("images/Vendor_Icon_PopUp.jpg")">
                    <div class="caption text-center">
                        <h3 class="captionSystem openSansBold">Pop up dinning</h3>
                        <p class="openSansSemiBold">Buy at one-of-a-kind<br/>food events.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>