<section class="teamSection">
    <div class="container">
        <div class="row">
            <h2 id="sloganTeam" class="sloganTeam text-center openSansReg">Our team</h2>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <img class="img-circle" src="@routes.Assets.versioned("images/Team_Photo_Cedric.png")">
                    <div class="caption text-center">
                        <p class="openSansSemiBold teamName">Cedric Christensen</p>
                        <p class="openSansSemiBold teamSurName">The agitator</p>
                        <p class="openSansLight teamDesc">Current favorite Street cuisine : Tofu bun from the chairman.</p>
                        <p class="openSansSemiBold teamSocial"><i class="fa fa-linkedin-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <img class="img-circle" src="@routes.Assets.versioned("images/Team_Photo_Pashu.png")">
                    <div class="caption text-center">
                        <p class="openSansSemiBold teamName">Pashu Dewailly</p>
                        <p class="openSansSemiBold teamSurName">The evangelist</p>
                        <p class="openSansLight teamDesc">Current favorite Street cuisine : Tofu bun from the chairman.</p>
                        <p class="openSansSemiBold teamSocial"><i class="fa fa-linkedin-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <img class="img-circle" src="@routes.Assets.versioned("images/Team_Photo_Sophian.png")">
                    <div class="caption text-center">
                        <p class="openSansSemiBold teamName">Sophian Achiba</p>
                        <p class="openSansSemiBold teamSurName">The tech guru</p>
                        <p class="openSansLight teamDesc">Current favorite Street cuisine : Tofu bun from the chairman.</p>
                        <p class="openSansSemiBold teamSocial"><i class="fa fa-linkedin-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <img class="img-circle" src="@routes.Assets.versioned("images/Team_Photo_Elie.png")">
                    <div class="caption text-center">
                        <p class="openSansSemiBold teamName">Elie Monge</p>
                        <p class="openSansSemiBold teamSurName">The art maestro</p>
                        <p class="openSansLight teamDesc">Current favorite Street cuisine : Tofu bun from the chairman.</p>
                        <p class="openSansSemiBold teamSocial"><i class="fa fa-linkedin-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>