<section class="teamSection">
    <div class="container">
        <div class="row">
            <h2 id="sloganTeam" class="sloganTeam text-center openSansReg">Our team</h2>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <img class="img-circle" width="132px" height="132px" src="@routes.Assets.versioned("images/Team_Photo_Cedric.jpg")">
                    <div class="caption text-center">
                        <p class="openSansSemiBold teamName">Cedric Christensen</p>
                        <p class="openSansSemiBold teamSurName">The agitator</p>
                        <p class="openSansLight teamDesc">@Messages("section.team.fav.food.slogan") : @Messages("section.team.cedric.fav.food")</p>
                        <p class="openSansSemiBold teamSocial"><a href="https://www.linkedin.com/in/cedricchristensen" target="_blank"><i class="fa fa-linkedin-square"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://twitter.com/cedchristensen" target="_blank"><i class="fa fa-twitter"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <img class="img-circle" width="132px" height="132px" src="@routes.Assets.versioned("images/Team_Photo_Pashu.jpg")">
                    <div class="caption text-center">
                        <p class="openSansSemiBold teamName">Pashu Dewailly</p>
                        <p class="openSansSemiBold teamSurName">The evangelist</p>
                        <p class="openSansLight teamDesc">@Messages("section.team.fav.food.slogan") : @Messages("section.team.pashu.fav.food")</p>
                        <p class="openSansSemiBold teamSocial"><a href="https://www.linkedin.com/in/pashudewaillychristensen" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://twitter.com/pashupatina" target="_blank"><i class="fa fa-twitter"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <img class="img-circle" width="132px" height="132px" src="@routes.Assets.versioned("images/Team_Photo_Sophian.jpg")">
                    <div class="caption text-center">
                        <p class="openSansSemiBold teamName">Sophian Achiba</p>
                        <p class="openSansSemiBold teamSurName">The tech guru</p>
                        <p class="openSansLight teamDesc">@Messages("section.team.fav.food.slogan") : @Messages("section.team.sophian.fav.food")</p>
                        <p class="openSansSemiBold teamSocial"><a href="https://www.linkedin.com/in/sophianachiba" target="_blank"><i class="fa fa-linkedin-square"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <img class="img-circle" width="132px" height="132px" src="@routes.Assets.versioned("images/Team_Photo_Elie.jpg")">
                    <div class="caption text-center">
                        <p class="openSansSemiBold teamName">Elie Monge</p>
                        <p class="openSansSemiBold teamSurName">The art maestro</p>
                        <p class="openSansLight teamDesc">@Messages("section.team.fav.food.slogan") : @Messages("section.team.elie.fav.food")</p>
                        <p class="openSansSemiBold teamSocial"><a href="https://www.linkedin.com/in/elie-monge-27b790103" target="_blank"><i class="fa fa-linkedin-square"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>